.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }



  .LandingTop {
    background-color: #e42121;
    padding: 20px;
    text-align: center;
  } 